.navbar{
	min-height:20px;
	background-color:rgb(204,0,0);
	color:ivory;
}


.navbar-brand{
	padding:0;
}

.navbar-brand >img{
	height:100%;
	padding:0;
}

.navbar-toggle{
}

@media (min-width:768px) {
	.navbar-nav > li > a{
		padding-top: 10px;
		padding-bottom: 0;
		line-height: 10px;
	}

}

.dropdown-menu{
	background-color:rgb(204,0,0);
	color:ivory;
	min-width:30px;
}


